{{- $src := .Destination -}}
{{- $resource := .Page.Resources.GetMatch $src -}}
{{- if not $resource -}}
  {{- range .Page.Translations -}}
    {{- if not $resource -}}
      {{- $resource = .Resources.GetMatch $src -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if $resource -}}
  <img src="{{ $resource.RelPermalink }}"
       alt="{{ .Text }}"
       {{ with .Title }}title="{{ . }}"{{ end }}>
{{- else -}}
  <img src="{{ $src }}"
       alt="{{ .Text }}"
       {{ with .Title }}title="{{ . }}"{{ end }}>
{{- end -}}